@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Proza+Libre:wght@600&family=Space+Mono:wght@400;700&display=swap');
body, html{
	padding: 0;
	margin: 0;
	// background: #0a192f;
	background: #081426;
}
// colors

$primary: #a29bfe;
$primary-2: #675cff;
$primary-light: rgba(162, 155, 254, 0.1);

// colors ends here
li a{
	display: inline-block;
}
img:hover{
	color: #ffffff;
}
navbar.nav{
	overflow: hidden;
	top:0;
	width: 95.5%;
	z-index: 100;
	position: fixed;
	background: #081426;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 2.2em;
	height: 55px;
	ul.part2{
		display: flex;
		list-style: none;
		align-items: center;
		font-family: 'Space Mono', sans-serif;
		font-size: 13px;
		span{
			color: $primary;
			margin-right: 5px;
			pointer-events: none;
		}
		a{
			color: #bdc3c7;
			text-decoration: none;
			display: inline-block;
			margin-right: 1.5em;
			letter-spacing: 2px;
			transition: 0.3s;
			&:hover{
				color: $primary;
			}
		}
		a.resume-button{
			border: 1px solid $primary;
			border-radius: 4px;
			color: $primary;
			padding: 0.7em 0.9em;
			&:hover{
				background-color: $primary-light;
			}
		}
	}
}
.sticky{
	height: 45px;
	box-shadow: 0px 8px 10px -6px rgba(0,0,0,0.75);
	transition: 0.4s;
}

#left-link{
	display: flex;
	height: calc(100vh - 110px);
	align-items: center;
	flex-direction: column;
	position: fixed;
	width: 122px;
	transition: 0.4s;
	// background: #000;
	justify-content: flex-end;
	// padding-bottom: 5em;
	a.icons-left-links{
		color: #949fbd;
		font-size: 20px;
		padding-bottom: 1em;
		transition: 0.4s;
		&:hover{
			transform: translateY(-5px);
			color: $primary-2;
		}
	}
	ul{
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	li{
		list-style: none;
		display: inline-block;
	}
	&::after{
		content: "";
		width: 2px;
		height: 88px;
		background-color: #949fbd;
	}
}
#right-link{
	display: flex;
	float: right;
	height: calc(100vh - 110px);
	align-items: center;
	flex-direction: column;
	position: fixed;
	right: 0;
	width: 122px;
	// background: #000;
	justify-content: flex-end;
	// padding-bottom: 5em;
	a.icons-right-links{
		color: #949fbd;
		padding-bottom: 1em;
		text-decoration: none;
		writing-mode: vertical-rl;
		letter-spacing: 3px;
		font-size: 12px;
		font-family: 'Space Mono', sans-serif;
		transition: 0.4s;
		&:hover{
			transform: translateY(-5px);
			color: $primary-2;
		}
	}
	ul{
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	li{
		list-style: none;
		display: inline-block;
	}
	&::after{
		content: "";
		width: 2px;
		height: 88px;
		background-color: #949fbd;
	}
}

#main-section{
	margin-top: 100px;
	height: auto;
	// width: calc(100vw);
	padding: 0 122px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 5em;
}
#home, #about, #experience, #projects{
	margin-bottom: 5em;
}
#home, #about, #experience, #projects, #contact{
	height: 80vh;
	background: #fff;
}
#about, #projects{
	background: #000;
}
